<div class="animated fadeIn">
  <div class="card">
    <div class="card-header mx-0 row">
      <span class="col-md text-left px-0">Advanced Search</span>
      <span class="col-md text-right px-0">
        <i class="ml-auto cui-account-logout icons"
        style="cursor: pointer" (click)="onExit()"></i>
      </span>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-1">

        </div>
        <div class="col-md-4 offset-md-7">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" (ngModelChange)="onSearchChange($event)"
              placeholder="Search" />
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-times" style="cursor: pointer" (click)="onSearchClear()"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="nav sm-font">
        <div class="table-responsive">
          <table class="table table-striped table-hover" [mfData]="dataVal" #mf="mfDataTable" [mfRowsOnPage]="10"
            *ngIf="dataVal">
            <thead>
              <tr>
                <th [style]="'width:'+((columns.length)/100)+'%'" *ngFor="let col of columns | slice:0:10; let i = index"
                  class="text-{{ col.indexOf('_right') > -1 ? 'right' : (col.indexOf('_left') > -1 ? 'left' : 'center' ) }}">
                  <mfDefaultSorter *ngIf="i == 0" by="{{ i }}">
                    #
                  </mfDefaultSorter>
                  <mfDefaultSorter *ngIf="i > 0" by="{{ col }}">
                    {{ col.replace('_right','').replace('_left','').replace('_center','').replaceAll('_',' ') | uppercase }}
                  </mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data; let i = index">
                <td
                  *ngFor="let col of columns | slice:0:10; let j = index;" style="cursor: pointer"
                  class="text-{{ col.indexOf('_right') > -1 ? 'right' : (col.indexOf('_left') > -1 ? 'left' : 'center' ) }} py-2"
                  (click)="onPickLineItem(item['stock_item_id'], item['component_type'], item['init_part_num'], item['part_id'], item['serial_or_batch_num'], item['id'], item['bin'])"
                  nowrap>
                  <span *ngIf="j == 0" [innerHTML]="i+1+(mf.rowsOnPage*(mf.activePage-1))"></span>
                  <span *ngIf="j > 0" [innerHTML]="item[col]"></span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="100">
                  <span class="pull-left border border-gray rounded">
                    <h6 class="pt-2 px-2 sm-font" *ngIf="dataVal">TOTAL {{ dataVal.length }}</h6>
                  </span>
                  <button (click)="onExport()" type="button" class="btn sm-font btn-light w100px ml-2"><i
                      class="fa fa-download"></i>&nbsp;
                    Export
                  </button>
                  <mfBootstrapPaginator class="pull-right mt-2" [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
          <div *ngIf="!dataVal && !noData" class="sk-three-bounce">
            <div class="sk-child sk-bounce1 bg-primary">
            </div>
            <div class="sk-child sk-bounce2 bg-primary">
            </div>
            <div class="sk-child sk-bounce3"></div>
          </div>
          <div *ngIf="!dataVal && noData" class="card card-header text-muted text-center">
            Empty
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
