<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-note"></i> {{ title }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()" class="needs-validation">

                <div class="form-group">
                  <label class="col-form-label" for="code_id">Code ID</label>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon-tag"></i></span></div>
                    <input class="form-control col-md-4"
                          id="code_id"
                          type="text"
                          formControlName="code_id"
                          placeholder="Code ID"
                          autocomplete="off"
                          required
                          autofocus
                          [ngClass]="{ 'is-invalid': submitted && f.code_id.errors, 'is-valid': f.code_id.touched && !f.code_id.errors }" />
                  </div>
                  <div *ngIf="submitted && f['code_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['code_id'].errors.required">Code ID is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="code_str">Code</label>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon-tag"></i></span></div>
                    <input class="form-control col-md-4"
                          id="code_str"
                          type="text"
                          formControlName="code_str"
                          placeholder="Code"
                          autocomplete="off"
                          required
                          autofocus
                          [ngClass]="{ 'is-invalid': submitted && f.code_str.errors, 'is-valid': f.code_str.touched && !f.code_str.errors }" />
                  </div>
                  <div *ngIf="submitted && f['code_str'].errors" class="invalid-feedback">
                    <div *ngIf="f['code_str'].errors.required">Code is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="reason">Reason</label>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon-pencil"></i></span></div>
                    <input class="form-control col-md-4"
                          id="reason"
                          type="text"
                          formControlName="reason"
                          placeholder="Reason"
                          autocomplete="off"
                          required
                          autofocus
                          [ngClass]="{ 'is-invalid': submitted && f.reason.errors, 'is-valid': f.reason.touched && !f.reason.errors }" />
                  </div>
                  <div *ngIf="submitted && f['reason'].errors" class="invalid-feedback">
                    <div *ngIf="f['reason'].errors.required">Reason is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="description">Description</label>
                  <div class="col-md-5 px-0">
                    <div class="input-group col-md-10 px-0">
                      <div class="input-group-prepend"><span class="input-group-text"><i class="icon-speech"></i></span></div>
                      <textarea class="form-control"
                            id="description"
                            type="text"
                            formControlName="description"
                            placeholder="Description"
                            autocomplete="off"
                            autofocus
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors, 'is-valid': f.description.touched && !f.description.errors }" >
                      </textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-form-label" for="delay_type_id">Delay Type</label>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="icon-clock"></i></span></div>
                        <ng-select
                          id="delay_type_id"
                          name="delay_type_id"
                          formControlName="delay_type_id"
                          placeholder="Choose a delay type"
                          [options]="delayTypes"
                          class="custom-select col-md-4"
                          [allowClear]="true"
                          style="z-index: 1010"
                          [ngClass]="{ 'is-invalid': submitted && f.delay_type_id.errors, 'is-valid': f.delay_type_id.touched && !f.delay_type_id.errors }"
                          required>
                      </ng-select>
                  </div>
                  <div *ngIf="submitted && f['delay_type_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['delay_type_id'].errors.required">Delay Type is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-success mr-1  w100px" type="submit" [disabled]="formGroup.invalid">Save</button>
                  <button
                    class="btn btn-danger w100px"
                    type="reset"
                    [disabled]="formGroup.pristine && !submitted"
                    (click)="onReset()"
                    *ngIf="!id">Reset</button>
                  <a (click)="onCancel()" class="btn btn-secondary mr-1 w100px">Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
